@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Videogames Library!</h1>
    <p>
       Videogames Library is a Web App for you to keep track of all the games in your videogame library.
    </p>

    <p>
        Currently you can add, remove, and edit the games in the library. You are also able to keep track of which ones you have completed,
        and which ones you are working towards completing.
    </p>

    <p>
        I am hoping to add many more features in the future, so stay tuned!
    </p>


    
</div>
