@{
    ViewData["Title"] = "Home Page";
}
<h3 class="index-header">Videogames Library is a web app for keeping up with your game library.</h3>
<body>
    <div class="box">

        <div class="index-image">

        <img class="image" src="~/Images/xbox.jpg" />


        </div>


        <div class="index-list">
            <h2 class="index-list-header">
                Currently you can:
            </h2>

            <ul class="index-list-items">
                <li>Add a game's title and genre</li>
                <li>Keep track of whether or not you've completed it </li>
                <li>Sign in with existing Google account</li>
                <li>And many more new features to come!</li>
            </ul>

        </div>

    </div>
</body>
