@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome To Videogames Library!</h1>
<body >
    
    <p class="justify-content-center text-center">
        Videogames Library is a Web App for you to keep track of all the games in your videogame library.
    </p>
        <h4 class="justify-content-center text-center">
            Currently you can:
        </h4>
    <div class="list-container">

        <ul>
            <li>Add a game's title and genre</li> 
            <li>Keep track of whether or not you've completed it </li>
            <li>Sign in with exsisting Google account</li>
            <li>And many more new features to come!</li>
        </ul>

    </div>
      

    

    
</body>
